*{
    margin: 0;
    padding: 0;

}


header{
    padding-top: 22px;
    padding-bottom: 22px;

}
.container{

    max-width: 1540px; margin: auto;
}

.d-flex{
    display: flex; justify-content: space-around; align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;

}

header ul li a {

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;
    color: #1B1A1A;

}
header nav ul li{
    transition: 0.4s;
    margin: 0 16px;
}
header nav ul li:hover{
    transform: rotate(360deg);
}
header nav ul li:last-of-type{
    margin: 0;
}
header nav ul li:last-of-type a {

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
.main_banner{

    background-color:#ECE7E4; height: 100vh; position: relative ;

}

.slogan{
    max-width: 1400px; margin: auto;
}

.main_banner article{
    max-width:570px;
}



.subtitle {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #645C55;
    padding-top: 150px ;
}

section article h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;


}
.text{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
    margin-bottom: 50px;
    color: #403E3B;

}

section article a {
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    padding-left: 20px;

}

.img {
    background-image: url('../img/IMAGE.jpg'); background-size: cover; background-repeat: no-repeat; position:absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;

}
.article {
    padding-top:100px ;
    padding-bottom: 120px;
}

.main_article{
    max-width: 700px;
    display:flex;
    justify-content: space-between;
    margin: auto;


}

.title {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    width: 1000px;

}

.main_article p {

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom:10px ;

}
 .icon {
     display:flex;
     justify-content: space-between;
     width: 250px;

 }



.icon img {
    margin-right:20px ;

}

.icon  h4 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
    padding-top: 20px ;

}

.icon span {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    display: block;

}


.socials {
    padding-top: 100px ;
    padding-bottom: 110px ;

}

.main_socials {
    max-width: 1240px;
    margin: auto;
}

.wrap {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
 margin-bottom: 13px;
}

.main_socials h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 47px;
}
 .box{
     display: flex;
     justify-content: space-between;

 }

 .box  h4{
     font-family: 'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 17px;
     line-height: 26px;
     text-align: center;
     color: #403E3B;
 }

 .box p {

     font-family: 'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
     text-align: center;
     color: #645C55;
     padding-bottom: 10px;
     width: 300px;
 }

 .box img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 15px;
 }

.block
{
    background-image: url("../img/block.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 600px;
    background-size: cover;


}

.main_block{
    max-width: 285px;
    margin-right:75px ;

}

.block .main_block h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.block .main_block p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

.second_block {
    background-image: url("../img/second_block.jpg");
     min-height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_second_block{
    max-width: 285px;
    margin-right:75px ;
}

.second_block  .main_second_block h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.second_block  .main_second_block p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;

}






.third_section{ background-image: url("../img/third_section.jpg");
 min-height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
   align-items: center;
}

.main_third_section{
max-width: 285px;
    margin-left: 60px ;
}

.third_section  .main_third_section h4{

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.third_section  .main_third_section p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

.holder{
    background: #403E3B;
    padding-top: 100px;
    padding-bottom: 100px;


}

.holder_main {
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text_main{
    max-width: 451px;
    height: 144px;
    margin-right: 181px;



}


.holder .text_main h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.holder .text_main   h3 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 15px;

}
.holder  .text_main p{

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #ECE7E4;}


.first_icon{
flex-wrap: wrap;
    display: flex;

}

.icon_first{
    margin-bottom: 128px;
}

.second_icon{
    flex-wrap: wrap;
    display: flex;
    margin-left: 96px;

}

.icon_second{
    margin-bottom: 96px;

}
